[Unit]
Description=journal web interface service
Wants=network-online.target
After=network-online.target

[Service]
DynamicUser=yes
SupplementaryGroups=systemd-journal
SupplementaryGroups=systemd-journal-remote
Environment=BIND_ADDR=[::]:5000 EXP_MSGS=/etc/expected-log-messages

ExecStart=journal-web-ui
Restart=always

ProtectSystem=strict
ProtectHome=yes
PrivateDevices=yes
PrivateTmp=yes
PrivateUsers=yes
NoNewPrivileges=yes
SystemCallFilter=@system-service

[Install]
WantedBy=multi-user.target
